doctype html
html(lang="ru")
  head
    title Дешевые авиабилеты
    meta(name="viewport" width=device-width content="initial-scale=0.5, maximum-scale=0.5")
  body
    #aviasales-page
    // block-content